/* About Page Styles */

.aboutPage_section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding-bottom: 80px;
}
.aboutPage_section ul {
  list-style: none;
  padding: 0;
}
.aboutPage_section ul li {
  padding-bottom: 10px;
}
.aboutPage_section ul li svg {
  margin-right: 4px;
  color: var(--accent-color);
}
.testimonials_section .testimonials-title {
  color: var(--heading-color);
  margin-bottom: 2rem;
  text-transform: uppercase;
}
