/* Course Details Styles */

.course-details_section {
  padding-bottom: 60px;
}
.course-details_section .course-title {
  color: var(--default-color);
}
.course-details_section .course-info {
  background: color-mix(in srgb, var(--default-color), transparent 95%);
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-details_section .course-info a {
  color: var(--accent-color);
}
