/* Trainers Pgae Styles */

.trainers_section {
  padding-bottom: 80px;
}
.trainers_section .trainer-img {
  margin: 0 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.trainers_section .trainer-info {
  margin-top: 30px;
  text-align: center;
}
.trainers_section .trainer-info span {
  font-style: italic;
  display: block;
  font-size: 15px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 10px;
}
.trainers_section .trainer-info p {
  margin-bottom: 0;
  font-size: 14px;
}
